body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 30px;
  background-color: #e6f7ff;
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
